<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>bates</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>About</servlet-name>
    <servlet-class>About</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddReserva</servlet-name>
    <servlet-class>AddReserva</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Attractions</servlet-name>
    <servlet-class>Attractions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>Contact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Directions</servlet-name>
    <servlet-class>Directions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inscrever</servlet-name>
    <servlet-class>Inscrever</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Photos</servlet-name>
    <servlet-class>Photos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Rooms</servlet-name>
    <servlet-class>Rooms</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Reservas</servlet-name>
    <servlet-class>Reservas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Reservar</servlet-name>
    <servlet-class>Reservar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddReserva</servlet-name>
    <url-pattern>/adicionarreserva</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Attractions</servlet-name>
    <url-pattern>/attractions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Directions</servlet-name>
    <url-pattern>/directions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inscrever</servlet-name>
    <url-pattern>/inscrever</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Photos</servlet-name>
    <url-pattern>/photos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rooms</servlet-name>
    <url-pattern>/rooms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reservas</servlet-name>
    <url-pattern>/reservas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reservar</servlet-name>
    <url-pattern>/reservar</url-pattern>
  </servlet-mapping>
</web-app>